<div>
	<%= link_to patients_path, class: 'go-back-btn' do %>
		<i class="fas fa-arrow-circle-left"></i>
		<span>Go Back</span>
	<% end %>
</div>

<h1>Search Results</h1>

<table>
	<th>Name</th>
	<th>Address</th>
	<th>Email</th>
	<th>Diagnosis</th>
	<th>Referral Channel</th>
	<th>Primary Clinician</th>

	<% @patients.each do |patient| %>
		<tr>
			<td>
				<%= patient.last_name %>
				<%= patient.first_name %>
			</td>
			<td>
				<%= patient.address %>
			</td>
			<td>
				<%= patient.email %>
			</td>
			<td>
				<%= patient.diagnosis %>
			</td>
			<td>
				<%= patient.referral_channel %>
			</td>
			<td>
				<%= patient.primary_clinician %>
			</td>
		<tr>
	<% end %>
</table>